{% load static %}
<div class="modal fade modal-right popup-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>سبد خرید <span>محصولات</span></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="cart-table">
                    <table class="table">
                        <tbody>
                            {% for item in cart %}
                            <tr>
                                <th scope="row">
                                    <img src="{{item.product.image.url}}" alt="Cart" />
                                </th>
                                <td>
                                    <h3>{{item.product.title}}</h3>
                                    <span class="rate">{{item.total}} تومان - {{item.quantity}} عدد</span>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <a class="close" href="{% url 'cart:cart_delete' item.unique_id %}">
                                        <i class="bx bx-x"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="total-amount">
                        <h3>جمع: <span>{{cart.total}} تومان</span></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'cart:order_add' %}">
                    <button type="submit" class="btn common-btn">
                        ادامه برای پرداخت
                        <img src="{% static "images/shape1.png" %}" alt="Shape" />
                        <img src="{% static "images/shape2.png" %}" alt="Shape" />
                    </button>
                </a>
                <!-- <form>
                    <input type="text" class="form-control" placeholder="شماره کوپن تخفیف" />
                    <a href="{% url 'cart:order_add' %}">
                        <button type="submit" class="btn common-btn">
                            ادامه برای پرداخت
                            <img src="{% static "images/shape1.png" %}" alt="Shape" />
                            <img src="{% static "images/shape2.png" %}" alt="Shape" />
                        </button>
                    </a>
                </form> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-right popup-modal wishlist-modal" id="exampleModalWishlist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>لیست مورد علاقه <span>{% if request.user.is_authenticated == True %}{{request.user.likes.count}}{% endif %}محصول</span></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if request.user.is_authenticated == True %}
            <div class="modal-body">
                <div class="cart-table">
                    <table class="table">
                        <tbody>
                            {% for item in like %}
                                <tr>
                                    <th scope="row">
                                        <img src="{{item.products.image.url}}" alt="Cart" />
                                    </th>
                                    <td>
                                        <a href="{% url 'shop:shop_detail' item.products.slug %}"><h3>{{item.products.title}}</h3></a>
                                        <span class="rate">{{item.products.price}} تومان </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="modal-body">
                <div class="cart-table">
                    <table class="table">
                        <tbody>
                                <tr>
                                    <td>
                                        <h3>لطفا اول در سایت <a href="{% url 'account:otp' %}؟next={% url 'shop:main_shop'%}">ثبت نام</a> کنید</h3>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade modal-right popup-modal wishlist-modal" id="exampleModalOrder" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2> سفارش ها <span>اطلاعات</span></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if request.user.is_authenticated == True %}
            <div class="modal-body">
                <div class="cart-table">
                    <table class="table">
                        <tbody>
                            {% for item in orders %}
                            <tr>
                                <td>
                                    <h3>{{item.addresses}}</h3>
                                    <h3>{{item.items.product.image.url}}</h3>
                                    <span class="rate">{{item.total_price}} تومان - {% if item.is_pay %} پرداخت شده {% else %} هنوز پرداهت نشده است  {% endif %}</span>
                                </td>
                                <td>
                                    <h3>تاریخ تحویل محصول : {% if item.DeliveryDate %} {{item.DeliveryDate}} {% else %} ----- {% endif %}</h3>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="modal-body">
                <div class="cart-table">
                    <table class="table">
                        <tbody>
                                <tr>
                                    <td>
                                        <h3>لطفا اول در سایت <a href="{% url 'account:otp' %}؟next={% url 'shop:main_shop'%}">ثبت نام</a> کنید</h3>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>