{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
ثبت آدرس
{% endblock %}
{% block content %}
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-content">
                    <h2>ثبت آدرس</h2>
                    <ul>
                        <li>
                            <a href="index.html">خانه</a>
                        </li>
                        <li>
                            <span>ثبت آدرس</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="title-img">
        <img src="{% static "images/page-title1.jpg" %}" alt="About" />
        <img src="{% static "images/shape16.png" %}" alt="Shape" />
        <img src="{% static "images/shape17.png" %}" alt="Shape" />
        <img src="{% static "images/shape18.png" %}" alt="Shape" />
    </div>
</div>

<div class="checkout-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>اطلاعات را وارد کنید:</h2>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-billing">
                        <div class="form-group">
                            {{form.fullname|attr:'class:form-control'|attr:'placeholder:نام کامل:'}}
                        </div>
                        <div class="form-group">
                            {{form.phone|attr:'class:form-control'|attr:'placeholder:تلفن:'}}
                        </div>
                        <div class="form-group">
                            {{form.email|attr:'class:form-control'|attr:'placeholder:ایمیل:'}}
                        </div>
                        <div class="form-group">
                            {{form.postal_code|attr:'class:form-control'|attr:'placeholder:کد پستی:'}}
                        </div>
                        <div class="form-group">
                                {{form.address|attr:'class:form-control'|attr:'placeholder:ادرس:'}}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn common-btn">
                                ثبت سفارش
                                <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                <img src="{% static "images/shape2.png" %}" alt="Shape" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}