{% extends 'base.html' %}
{% load static %}
{% block title %}
فروشگاه
{% endblock %}
{% block content %}
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-content">
                    <h2>فروشگاه</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home:main' %}">خانه</a>
                        </li>
                        <li>
                            <span>فروشگاه</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="title-img">
        <img src="{% static "images/page-title1.jpg" %}" alt="About" />
        <img src="{% static "images/shape16.png" %}" alt="Shape" />
        <img src="{% static "images/shape17.png" %}" alt="Shape" />
        <img src="{% static "images/shape18.png" %}" alt="Shape" />
    </div>
</div>

<div class="products-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sorting-menu">
                    <ul>
                        <li class="filter" data-filter="{% if request.resolver_match.url_name == 'main_shop'%}all{% endif %}">
                            <a href="{% url 'shop:main_shop' %}">
                                <div class="products-thumb">
                                    <img src="{% static "images/products/shape1.png" %}" alt="Shape" />
                                    <img src="{% static "images/products/shape2.png" %}" alt="Shape" />
                                    <i class="flaticon-square"></i>
                                    <span>همه</span>
                                </div>
                            </a>
                        </li>
                    {% for data in category %}
                    <li class="filter" data-filter="{% if request.resolver_match.url_name == 'category_detail/{{data.id}}'%}all{% endif %}">
                        <a href="{% url 'shop:category_detail' data.id %}">
                            <div class="products-thumb">
                                <img src="{% static "images/products/shape1.png" %}" alt="Shape" />
                                <img src="{% static "images/products/shape2.png" %}" alt="Shape" />
                                <i class="{{ data.fontasswoem }}"></i>
                                <span>{{data.title}}</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="Container" class="row">
                    {% for data in products %}
                    <div class="col-sm-6 col-lg-4 mix sofa bed">
                        <div class="products-item">
                            <div class="top">
                                {% if data.on_sale == True %}
                                <a class="product-type" href="">حراج</a>
                                {% endif %}
                                {% if data.special == True %}
                                <a class="product-type" href="">ویژه</a>
                                {% endif %}
                                <a class="wishlist" href="#">
                                    <i class="bx bx-heart"></i>
                                </a>
                                <img src="{{ data.image.url }}" alt="Products" />
                                <div class="inner">
                                    <h3>
                                        <a href="{% url 'shop:shop_detail' data.slug %}">{{data.title}}</a>
                                    </h3>
                                    <span>{{data.price}} تومان</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <a class="cart-text" href="#">سبد خرید</a>
                                <i class="bx bx-plus" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"></i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>پرفروش ترین محصولات</h2>
        </div>
        <div class="row">
            {% for data in products %}
                {% if data.likes.count >= 5 %}
                <div class="col-sm-6 col-lg-3">
                    <div class="products-item">
                        <div class="top">
                            <a class="wishlist" href="#">
                                <i class="bx bx-heart"></i>
                            </a>
                            <img src="{{data.image.url}}" alt="Products" />
                            <div class="inner">
                                <h3>
                                    <a href="single-product.html">{{data.title}}</a>
                                </h3>
                                <span>{{data.price}} تومان</span>
                            </div>
                        </div>
                        <div class="bottom">
                            <a class="cart-text" href="#">سبد خرید</a>
                            <i class="bx bx-plus"></i>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}