{% extends 'base.html' %}
{% load static %}
{% block title %}
{{products.title}}
{% endblock %}
{% block content %}
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>جزئیات محصول</h2>
                            <ul>
                                <li>
                                    <a href="{% url 'home:main' %}">خانه</a>
                                </li>
                                <li>
                                    <span>جزئیات محصول</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-img">
                <img src="{% static "images/page-title2.jpg" %}" alt="About" />
                <img src="{% static "images/shape16.png" %}" alt="Shape" />
                <img src="{% static "images/shape17.png" %}" alt="Shape" />
                <img src="{% static "images/shape18.png" %}" alt="Shape" />
            </div>
        </div>

        <div class="product-details-area ptb-100">
            <div class="container">
                <div class="top">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="outer">
                                <div class="row">
                                    <div class="col-4 col-sm-3 col-lg-3">
                                        <div id="thumbs" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image1.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image2.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image3.url}}" alt="Product" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8 col-sm-9 col-lg-9">
                                        <div id="big" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="top-img">
                                                <img src="{{ products.image1.url }}" alt="Product" />
                                            </div>
                                            <div class="top-img">
                                                <img src="{{products.image2.url}}" alt="Product" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-content">
                                <h2>{{products.title}}</h2>
                                <ul class="reviews">
                                    <li>
                                        <i class="bx bxs-star checked"></i>
                                    </li>
                                    <li>
                                        <i class="bx bxs-star checked"></i>
                                    </li>
                                    <li>
                                        <i class="bx bxs-star checked"></i>
                                    </li>
                                    <li>
                                        <i class="bx bxs-star checked"></i>
                                    </li>
                                    <li>
                                        <i class="bx bxs-star"></i>
                                    </li>
                                    <li>
                                        <span>(2 نظرات)</span>
                                    </li>
                                    <li>
                                        <h3>{{products.price}} تومان</h3>
                                    </li>
                                </ul>
                                <p>{{products.discription}}</p>
                                <ul class="tag">
                                    <li>کد: <span>{{products.code}}</span></li>
                                    <li>دسته بندی: <span>{{products.category.first}}</span></li>
                                    <li>برچسب: <span>{{products.tags.first}}</span></li>
                                    {% if products.status == True %}
                                    <li>وضعیت: <span>موجود</span></li>
                                    {% else %}
                                    <li>وضعیت: <span>نا موجود</span></li>
                                    {% endif %}
                                </ul>
                                <ul class="cart">
                                    <li>
                                        <ul class="number">
                                            <li>
                                                <span class="minus">-</span>
                                                <input type="text" value="1" />
                                                <span class="plus">+</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="common-btn" h>
                                            سبد خرید
                                            <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                            <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                        </a>
                                    </li>
                                </ul>
                                <a class="wishlist-btn" href="#">
                                    <i class="bx bx-heart"></i>
                                    مورد علاقه
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">توضیحات</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">نظرات</a>
                        </li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="bottom-description">
                                <p>
                                    {{products.content}}
                                </p>
                                <ul>
                                    <li><span></span>{{products.tip1}}</li>
                                    <li><span></span>{{products.tip2}}</li>
                                    <li><span></span>{{products.tip3}}</li>
                                    <li><span></span>{{products.tip4}}</li>
                                    <li><span></span>{{products.tip5}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="bottom-comment">
                                <ul class="comments">
                                    <li>
                                        <img src="{% static "images/blog/comment1.jpg" %}" alt="Blog" />
                                        <h4>رضا محسنی</h4>
                                        <span>11 مرداد 14001</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                        </p>
                                        <ul class="reviews">
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star"></i>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="{% static "images/blog/comment2.jpg" %}" alt="Blog" />
                                        <h4>جواد نیازی</h4>
                                        <span>12 مرداد 1400</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                        </p>
                                        <ul class="reviews">
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star checked"></i>
                                            </li>
                                            <li>
                                                <i class="bx bxs-star"></i>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-review">
                                <h3>ارسال نظرات</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="نام" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="ایمیل" />
                                    </div>
                                    <div class="form-group">
                                        <textarea id="your-comments" rows="8" class="form-control" placeholder="نظرات"></textarea>
                                    </div>
                                    <button type="submit" class="btn common-btn">
                                        ارسال نظر
                                        <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                        <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>محصولات مرتبط</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="products-item">
                            <div class="top">
                                <a class="wishlist" href="#">
                                    <i class="bx bx-heart"></i>
                                </a>
                                <img src="{% static "images/products/products10.png" %}" alt="Products" />
                                <div class="inner">
                                    <h3>
                                        <a href="single-product.html">کمد لباس لوکس</a>
                                    </h3>
                                    <span>200 تومان</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <a class="cart-text" href="#">سبد خرید</a>
                                <i class="bx bx-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="products-item">
                            <div class="top">
                                <a class="wishlist" href="#">
                                    <i class="bx bx-heart"></i>
                                </a>
                                <img src="{% static "images/products/products11.png" %}" alt="Products" />
                                <div class="inner">
                                    <h3>
                                        <a href="single-product.html">کمد چوبی</a>
                                    </h3>
                                    <span>180 تومان</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <a class="cart-text" href="#">سبد خرید</a>
                                <i class="bx bx-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="products-item">
                            <div class="top">
                                <a class="wishlist" href="#">
                                    <i class="bx bx-heart"></i>
                                </a>
                                <img src="{% static "images/products/products12.png" %}" alt="Products" />
                                <div class="inner">
                                    <h3>
                                        <a href="single-product.html">کمد لباس</a>
                                    </h3>
                                    <span>170 تومان</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <a class="cart-text" href="#">سبد خرید</a>
                                <i class="bx bx-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="products-item">
                            <div class="top">
                                <a class="wishlist" href="#">
                                    <i class="bx bx-heart"></i>
                                </a>
                                <img src="{% static "images/products/products13.png" %}" alt="Products" />
                                <div class="inner">
                                    <h3>
                                        <a href="single-product.html">میز چوبی کلاسیک</a>
                                    </h3>
                                    <span>190 تومان</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <a class="cart-text" href="#">سبد خرید</a>
                                <i class="bx bx-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-right popup-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>سبد خرید <span>2 محصول</span></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal
                        <div class="cart-table">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img src="{% static "images/cart/cart1.png" %}" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>صندلی راحت سفید</h3>
                                            <span class="rate">200 تومان - 1 عدد</span>
                                        </td>
                                        <td>
                                            <ul class="number">
                                                <li>
                                                    <span class="minus">-</span>
                                                    <input type="text" value="1" />
                                                    <span class="plus">+</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="{% static "images/cart/cart2.png" %}" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>صندلی زرد</h3>
                                            <span class="rate">180 تومان - 1 عدد</span>
                                        </td>
                                        <td>
                                            <ul class="number">
                                                <li>
                                                    <span class="minus">-</span>
                                                    <input type="text" value="1" />
                                                    <span class="plus">+</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="total-amount">
                                <h3>جمع: <span>380 تومان</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <input type="text" class="form-control" placeholder="شماره کوپن تخفیف" />
                            <button type="submit" class="btn common-btn">
                                ادامه برای پرداخت
                                <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                <img src="{% static "images/shape2.png" %}" alt="Shape" />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-right popup-modal wishlist-modal" id="exampleModalWishlist" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>لیست مورد علاقه <span>2 محصول</span></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cart-table">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img src="{% static "images/cart/cart1.png" %}" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>صندلی راحت سفید</h3>
                                            <span class="rate">200 تومان - 1 عدد</span>
                                        </td>
                                        <td>
                                            <a class="common-btn" href="shop.html">
                                                سبد خرید
                                                <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                                <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                            </a>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="{% static "images/cart/cart2.png" %}" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>صندلی زرد</h3>
                                            <span class="rate">180 تومان - 1 عدد</span>
                                        </td>
                                        <td>
                                            <a class="common-btn" href="shop.html">
                                                سبد خرید
                                                <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                                <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                            </a>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
{% endblock %}