{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block title %}
{{products.title}}
{% endblock %}
{% block content %}
<div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>جزئیات محصول</h2>
                            <ul>
                                <li>
                                    <a href="{% url 'home:main' %}">خانه</a>
                                </li>
                                <li>
                                    <span>جزئیات محصول</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-img">
                <img src="{% static "images/page-title2.jpg" %}" alt="About" />
                <img src="{% static "images/shape16.png" %}" alt="Shape" />
                <img src="{% static "images/shape17.png" %}" alt="Shape" />
                <img src="{% static "images/shape18.png" %}" alt="Shape" />
            </div>
        </div>

        <div class="product-details-area ptb-100">
            <div class="container">
                <div class="top">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="outer">
                                <div class="row">
                                    <div class="col-4 col-sm-3 col-lg-3">
                                        <div id="thumbs" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image1.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image2.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image3.url}}" alt="Product" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8 col-sm-9 col-lg-9">
                                        <div id="big" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="top-img">
                                                    <img src="{{products.image.url}}" alt="Product" />
                                                </div>
                                            </div>
                                            <div class="top-img">
                                                <img src="{{ products.image1.url }}" alt="Product" />
                                            </div>
                                            <div class="top-img">
                                                <img src="{{products.image2.url}}" alt="Product" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-content">
                                <h2>{{products.title}}</h2>
                                {% ratings products %}
                                <ul class="reviews">
                                    <li>
                                        <span>(2 نظرات)</span>
                                    </li>
                                    <li>
                                        <h3>{{products.price}} تومان</h3>
                                    </li>
                                </ul>
                                <p>{{products.discription}}</p>
                                <ul class="tag">
                                    <li>کد: <span>{{products.code}}</span></li>
                                    <li>دسته بندی: <span>{{products.category.first}}</span></li>
                                    <li>برچسب: <span>{{products.tags.first}}</span></li>
                                    {% if products.status == True %}
                                    <li>وضعیت: <span>موجود</span></li>
                                    {% else %}
                                    <li>وضعیت: <span>نا موجود</span></li>
                                    {% endif %}
                                </ul>
                                <form method="post" action="{% url 'cart:cart_add' products.slug %}" onclick="JSalert()">
                                    {% csrf_token %}
                                    <ul class="cart">
                                        <li>
                                            <ul class="number">
                                                <li>
                                                    <span class="minus">-</span>
                                                    <input type="text" name="quantity" value="1" />
                                                    <span class="plus">+</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <button style="border: none;background: none;" type="submit">
                                                <a class="common-btn">
                                                    سبد خرید
                                                    <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                                    <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                                {% if request.user.is_authenticated == True %}
                                    {% if is_liked %}
                                    <a id="like-post" class="wishlist-btn" href="{% url 'shop:like' products.slug products.id %}"><i class="fa-solid fa-heart"></i></a>                                   
                                    {% else %}
                                    <a id="like-post" class="wishlist-btn" href="{% url 'shop:like' products.slug products.id %}"><i class="fa-regular fa-heart"></i></a></a>
                                    {% endif %}
                                {% else %}
                                <p class="alert alert-danger">برای لایک کردن پست اول در <a href="{% url 'account:otp' %}?next={% url 'shop:shop_detail' products.slug %}">سایت ثبت نام</a> کنید</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">توضیحات</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">نظرات</a>
                        </li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="bottom-description">
                                <p>
                                    {{products.content}}
                                </p>
                                <ul>
                                    <li><span></span>{{products.tip1}}</li>
                                    <li><span></span>{{products.tip2}}</li>
                                    <li><span></span>{{products.tip3}}</li>
                                    <li><span></span>{{products.tip4}}</li>
                                    <li><span></span>{{products.tip5}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="bottom-comment">
                                <ul class="comments">
                                {% for comment in products.comment.all %}
                                    {% if comment.parent == None %}
                                    <li>
                                        <img src="{% static "images/main-photo.svg" %}" alt="Blog" />
                                        <h4>{{ comment.user.phone }}</h4>
                                        <span>{{comment.created}}</span>
                                        <p>
                                            {{comment.message}}
                                        </p>
                                        <ul class="reviews">
                                            <li>
                                                {% ratings comment %}
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="bottom-review">
                                <h3>ارسال نظرات</h3>
                                {% if request.user.is_authenticated == True %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="hidden" name="parent_id" id="parent_id" class="form-control" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="your-comments" name="message" rows="8" class="form-control" placeholder="نظرات"></textarea>
                                    </div>
                                    <button type="submit" class="btn common-btn">
                                        ارسال نظر
                                        <img src="{% static "images/shape1.png" %}" alt="Shape" />
                                        <img src="{% static "images/shape2.png" %}" alt="Shape" />
                                    </button>
                                </form>
                                {% else %}
                                <p class="alert alert-danger">برای  کامنت گذاشتن پست اول در <a href="{% url 'account:otp' %}?next={% url 'shop:shop_detail' products.slug %}">سایت ثبت نام</a> کنید</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        <script>
            function JSalert(){
                    Swal.fire("کالای شما با موفقیت در سبد خرید ثبت شد میتوانید از طریق ایکون بالا ادامه ی ثبت سفارش را انجام دهید با تشکر");   
                } 
        </script> 
        <script>          